{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Acero {% endblock %}
 {% block left_sidebar %}
     {{ include('partials/left_sidebar_acero.html.twig') }}
 {% endblock %}
{% block body %}


    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Espesor <br>(mm)</th>
                        <th>Tiempo <br>(min)</th>
                        <th>Precio <br>($)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>0,5</td>
                        <td>5000</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>0,7</td>
                        <td>5000</td>
                        <td>1</td>
                    </tr><tr>
                        <td>0,9</td>
                        <td>5000</td>
                        <td>1</td>
                    </tr><tr>
                        <td>1,2</td>
                        <td>5000</td>
                        <td>1</td>
                    </tr><tr>
                        <td>1,6</td>
                        <td>4500</td>
                        <td>1</td>
                    </tr><tr>
                        <td>2</td>
                        <td>4500</td>
                        <td>1</td>
                    </tr><tr>
                        <td>2,5</td>
                        <td>400</td>
                        <td>1</td>
                    </tr><tr>
                        <td>3,2</td>
                        <td>3500</td>
                        <td>1</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
