{% extends 'layouts/dashboard.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
               <h2>Contenido del index de la administración</h2>
            </div>
        </div>
    </div>
{% endblock %}
