<li>
    <a href="{{ path('home' ) }}" class="waves-effect waves-primary"><span>Home </span></a>
</li>
<li>
    <a href="{{ path('acero_corte' ) }}" class="waves-effect waves-primary"><span> Cotizador Acero </span></a>
</li>
<li>
    <a href="/aluminio" class="waves-effect waves-primary"><span> Cotizador Aluminio </span></a>
</li>
<li>
    <a href="/inox" class="waves-effect waves-primary"><span> Cotizador Inox </span></a>
</li>
<li>
    <a href="/Clientes" class="waves-effect waves-primary"><span>Clientes </span></a>
</li>


